.modalWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 24px;
  background-color: #fff;
  border-radius: 15px;
  padding: 0;
  outline: none;
}
.closeButton{
  position: absolute !important;
  top: -15px;
  right: -15px;
  border-radius: 50% !important;
  background-color: #ccc !important;
  color: #fff !important;
}
.modal{
  padding: 1em 1.2em;
  position: relative;
}
.modalBody{
  color: rgb(29, 26, 26);
}
.backDrop{
  backdrop-filter: blur(3px);
  background-color:rgba(67, 92, 233, 0.4) !important;
}