.cardWrapper {
  display: grid;
  grid-template-rows: 100px auto;
  /* max-width: 250px; */
  position: relative;
  /* min-height: 400px; */
}

.cardContent {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}
.mediaWrapper{
  position: relative;
  /* padding: 0px 0px 100% 0px; */
  padding-top: 75%;
}
.media{
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  object-fit: cover !important;
}

.cardTitle{
  font-size: 1rem !important;
}
.cardHeaderContent{
  height: 100% !important;
  display: grid;
  grid-template: repeat(2, 1fr) / 1fr;
  align-content: space-between;
}